<html>
    <head>
        <style>
            body
            * {box-sizing: border-box;}

            /* Sticky navbar - toggles between relative and fixed, depending on the scroll position. It is positioned relative until a given offset position is met in the viewport - then it "sticks" in place (like position:fixed). The sticky value is not supported in IE or Edge 15 and earlier versions. However, for these versions the navbar will inherit default position */
            .navbar {
                font-size: 25;
                overflow: hidden;
                background-color: #333;
                position: sticky;
                position: -webkit-sticky;
                top: 0;
            }

            /* Style the navigation bar links */
            .navbar a {
                float: left;
                display: block;
                color: white;
                text-align: center;
                padding: 14px 20px;
                text-decoration: none;
            }

            /* Change color on hover */
            .navbar a:hover {
                background-color: #ddd;
                color: black;
            }

            /* Active/current link */
            .navbar a.active {
                background-color: #666;
                color: white;
            }
            /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
            @media screen and (max-width: 400px) {
                .navbar a {
                    float: none;
                    width: 100%;
                }
            }
            /* Full-width input fields */
            input[type=text], input[type=password], input[type=date], input[type=time] {
                width: 100%;
                padding: 15px;
                margin: 5px 0 22px 0;
                display: inline-block;
                border: none;
                text-align: center;
                background: #f1f1f1;
            }

            /* Add a background color when the inputs get focus */
            input[type=text]:focus, input[type=password]:focus, input[type=date]:focus, input[type=time]:focus {
                background-color: #ddd;
                outline: none;
            }

                /* Set a style for all buttons */
            button {
                background-color: #215212;
                color: white;
                padding: 14px 20px;
                margin: 8px 0;
                border: none;
                cursor: pointer;
                width: 100%;
                opacity: 0.9;
            }

            button:hover {
                opacity:1;
            }

            /* Extra styles for the cancel button */
            .cancelbtn {
                padding: 14px 20px;
                background-color: #666;
            }

            /* Float cancel and signup buttons and add an equal width */
            .cancelbtn, .signupbtn {
                float: left;
                width: 50%;
            }

            /* Add padding to container elements */
            .container {
                padding: 16px;
            }

            /* The Modal (background) */
            .modal {
                display: block; /* Hidden by default */
                position: absolute; /* Stay in place */
                z-index: 1; /* Sit on top */
                left: 25%;
                top: 25px;  
                width: 50%; /* Full width */
                height: 100%; /* Full height */
                /* overflow: auto; */
                padding-top: 50px;
            }

            /* Modal Content/Box */
            .modal-content {
                width: 50%;
                background-color: #fefefe;
                margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
                border: 1px solid #888;
                width: 80%; /* Could be more or less, depending on screen size */
            }

            /* Style the horizontal ruler */
            hr {
                border: 1px solid #f1f1f1;
                margin-bottom: 25px;
            }
                

            /* Clear floats */
            .clearfix::after {
                content: "";
                clear: both;
                display: table;
            }

                /* Change styles for cancel button and signup button on extra small screens */
            @media screen and (max-width: 300px) {
                .cancelbtn, .signupbtn {
                    width: 100%;
                }
            }
        </style>
    </head>
    <body>
        <div>
        <div class="navbar">
            <a href="/">Home</a>
            <a href="/contact">Contact</a>
            <a href="/logout" class="right" style="float: right">Logout</a>
        </div>
        <center>
        <div id="id01" class="modal">
            <form class="modal-content" action="/make_booking" method="POST">
                <div class="container">
                <h1>Book Photographer</h1>
                <p>Just a step away from quality Services.</p>
                <hr>
                <label for="Photographer"><b>Photographer</b></label>
                <input type="text" id="Photographer" value="<%= photographer %>" name="photographer" readonly>

                <label for="user"><b>User</b></label>
                <input id="user" type="text" value="<%= user %>" name="user" readonly>

                <label for="function_type"><b>Function type</b></label>
                <input id="function_type" type="text" placeholder="Enter function type..." name="function_type">

                <label for="album_type"><b>Album type</b></label>
                <input id="album_type" type="text" placeholder="Enter album type you want" value="abc" name="album_type">

                <label for="album_theme"><b>Album theme</b></label>
                <input id="album_theme" type="text" placeholder="Enter album theme" value="abc" name="album_theme">

                <label for="date"><b>Date of function</b></label>
                <input id="date" type="date" value="abc" name="date" required>

                <label for="time"><b>Expected Start Time</b></label>
                <input id="time" type="time" value="abc" name="time">
            
                <label for="venue1"><b>Venue1</b></label>
                <input id="venue1" type="text" placeholder="Enter Venue1" name="venue1" required>
            
                <label for="venue2"><b>Venue2</b></label>
                <input id="venue2" type="text" placeholder="Enter Venue2" name="venue2">
                
                <label for="venue3"><b>Venue3</b></label>
                <input id="venue3" type="text" placeholder="Enter Venue3" name="venue3">

                <p>By making a booking you agree to our <a href="/terms" style="color:dodgerblue">Terms & Privacy</a>.</p>
            
                <div class="clearfix">
                    <button type="button" onclick="window.location = '/'" class="cancelbtn">Cancel</button>
                    <button type="submit" class="signupbtn"><b>Book</b></button>
                </div>
                </div>
            </form>
        </div>
    </center>
    </div>
    </body>
</html>